.div{
    margin-left: 10px;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin: 20px;
    background-color: rgb(10, 255, 800);
  }
  
  .wrapper{
    justify-content: center;
    align-items: center;
    direction: inline;
    flex-direction: row;
  }
  
.goatp{
  
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-30%, -50%);

  }
  
.image-wrapper{
    position: relative;
      border-radius: 90px;
      border-style: dotted;
      image-orientation: from-image;
      border-radius: 10px 20px 30px 40px

    }


  }
  
  figcaption {
    font-size: 20px;
    color: #3532f3
    margin-top: 50px;
    
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }